@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-1: #0083FF;
    --color-2: #C4C4C4;
    --color-3: #9B9B9B;
    --color-4: #FFF;
    --font-1: 'Roboto';
}

body {
    font-family: var(--font-1);
}

/* Nav Bar Content */

.nav-bar-container {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 10px 50px 1fr 50px 100px 10px;
    grid-template-areas:
    ". menu-btn . add-item-btn login-btn .";
    height: 60px;
    background-color: var(--color-1);
    justify-items: center;
    align-items: center;
}

.ham-btn-container {
    grid-area: menu-btn;
}

.ham-btn-layer {
    width: 35px;
    height: 3px;
    background-color: var(--color-4);
    margin: 6px 0;
    border-radius: 5px;
}

.increment-note-btn {
    grid-area: add-item-btn;
}

.increment-note-text {
    color: var(--color-4);
    font-size: 25px;
}

.login-btn {
    grid-area: login-btn;
    padding: 8px 20px 8px 20px;
    background-color: white;
    border-radius: 5px;
    font-family: var(--font-1);
    color: var(--color-1);
}

/* Main Content Information */

.content-container {
    /* Subtracted 60 because it's the height of the nav bar*/
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "left-content-container right-content-container";
}

/* Left Content Information */

.left-content-container {
    grid-area: left-content-container;
    border-right: 2px solid var(--color-2);
}

.tabs-container {
    margin-left: 50px;
    margin-top: 50px;
}

.tab {
    margin: 25px;
}

.inbox-tab {
    font-weight: normal;
}

.today-tab {
    font-weight: bold;
}

.this-week-tab {
    font-weight: normal;
}

.projects-tab {
    font-weight: normal;
}

/* Right content information */

.right-content-container {
    position: relative;
}

.right-content-info-container {
    margin-top: 80px;
    margin-left: 100px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.no-content-text {
    position: absolute;
    color: var(--color-3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}