@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* General Styling */

:root {
    --color-1: #0083FF;
    --color-1-variant: rgb(0, 131, 255, .5);
    --color-2: #C4C4C4;
    --color-3: #9B9B9B;
    --color-3-varient: rgba(155, 155, 155, .15);
    --color-4: #FFF;
    --color-5: #000;
    --color-6: rgba(255, 255, 255, .3);
    --font-1: 'Roboto';
    --least-priority-color: #E9ECEF;

    /* Notes variables */
    box-sizing: border-box;
    --high-pri-border: #F20000;
    --high-pri-background: rgba(242, 0, 0, .1);
    --moderate-pri-border: #FFE600;
    --moderate-pri-background: rgba(255, 230, 0, .1);
    --low-pri-border: #0083FF;
    --low-pri-background: rgba(0, 131, 255, .1);
    --comp-pri-border: #C4C4C4;
    --comp-pri-background: rgba(196, 196, 196, .2);
}

body {
    font-family: var(--font-1);
}

input {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.black-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Nav Bar Content */

.nav-bar-container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 10px 50px 1fr 50px 100px 10px;
    grid-template-areas:
    ". menu-btn . add-item-btn login-btn .";
    height: 50px;
    background-color: var(--color-1);
    justify-items: center;
    align-items: center;
}

.hamburger-btn-container {
    grid-area: menu-btn;
    cursor: pointer;
}

.hamburger-btn {
    height: 40px;
    width: 40px;
}

.increment-note-btn {
    grid-area: add-item-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.increment-note-btn:hover {
    background-color: var(--color-6);
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.increment-note-btn:active {
    transform: scale(.8);
}

.increment-note-text {
    color: var(--color-4);
    font-size: 25px;
}

.login-btn {
    grid-area: login-btn;
    padding: 8px 20px;
    background-color: var(--color-4);
    border-radius: 5px;
    border: none;
    font-family: var(--font-1);
    font-size: 15px;
    color: var(--color-1);
    cursor: pointer;
}

/* Main Content Information */

.content-container {
    /* Subtracted 60 because it's the height of the nav bar*/
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "left-content-container right-content-container";
}

/* Left Content Information */

.left-content-container {
    grid-area: left-content-container;
    border-right: 2px solid var(--color-2);
}

.tabs-container {
    margin-left: 50px;
    margin-top: 50px;
}

.tab {
    padding: 15px;
    margin: 10px;
}

.single-tab {
    text-decoration: none;
    color: var(--color-5);
}

.inbox-tab {
    font-weight: normal;
}

.today-tab {
    font-weight: bold;
}

.this-week-tab {
    font-weight: normal;
}

.projects-tab {
    grid-area: project-text;
    font-weight: normal;
}

.projects-tab-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'project-text arrow';
    align-items: center;
    cursor: pointer;
}

.projects-tab-container:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--color-3-varient);
}

.projects-tab-container-deco {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--color-3-varient);
}

.drop-down-li {

}

.add-proj-master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 5px;
}

.add-proj-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-proj-btn {
    color: var(--color-1);
}

.add-proj-icon {
    box-sizing: border-box;
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--color-1);
    color: var(--color-4);
    justify-content: center;
    align-items: center;
}

.add-proj-btn-container:active .add-proj-icon {
    background-color: var(--color-1-variant);
}

.arrow-img {
    grid-area: arrow;
    object-fit: contain;
    justify-self: end;
    width: 10px;
    height: 10px;
}

/* Right content information */

.right-content-container {
    position: relative;
}

.right-content-info-container {
    margin-top: 80px;
    margin-left: 100px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.notes-container {
    margin-top: 30px;
    margin-left: 60px;
    height: 450px;
    width: 90%;
}

.note-container {
    display: flex;
    flex-direction: note;
    align-items: center;
    width: 95%;
    height: 25px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #C4C4C4;
}

.separator {
    margin-left: 5px;
    margin-right: 5px;
}

.check-bubble {
    border-radius: 50%;
    margin-right: 30px;
    height: 15px;
    width: 15px;
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid #C4C4C4;
}

.no-content-text {
    display: none;
    position: absolute;
    color: var(--color-3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

/* Card styling */

.card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 400px;
    width: 750px;
    border-radius: 50px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content-container {
    height: 360px;
    width: 90%;
    background-color: none;
}

.card-title-container {
    position: relative;
    height: 50px;
}

.card-title-input {
    height: 100%;
    width: 100%;
    font-size: 35px;
    border: 0;
    outline: none;
    font-weight: bold;
}

.horizontal-line {
    background-color: #C4C4C4;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-content {
    display: grid;
    height: 220px;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 60px 1fr 60px 1fr 60px;
    grid-template-areas:
        "d . date"
        "d . ."
        "d . priority"
        "d . ."
        "d . project";
    background-color: none; /* Use yellow to debug */
}

.card-description-container {
    grid-area: d;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#description-input {
    resize: none;
    height: 100%;
}

.card-date-container {
    grid-area: date;
    display: flex;
    flex-direction: column;
}

.card-priority-container {
    grid-area: priority;
    display: flex;
    flex-direction: column;
}

.card-project-container {
    grid-area: project;
    display: flex;
    flex-direction: column;
}

.card-input {
    width: 100%;
    height: 30px;
}

.input-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-styling {
    border: 2px solid #C4C4C4;
    outline: none;
}

.submission-btns-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: none; /* Use green to debug */
    gap: 20px;
}

.submit-btn {
    height: 35px;
    width: 90px;
    background-color: #0083FF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer
}

.reset-btn {
    height: 35px;
    width: 90px;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
    color: #9B9B9B;
    transition: .2s background-color, .2s color;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #9B9B9B;
    color: white;
}

.reset-btn:active {
    background-color: white;
}

/* Close Button */

/* Adjust width or height of x using the width or height properties in
.close:before,
.close:after {...} 

Adjust background-color in .close{...}
*/

.close {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    transition: .2s opacity;
}
.close:before, 
.close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #9B9B9B;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}
.close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.close:hover {
    opacity: .5;
}

.close:active {
    opacity: 0;
}

/*Single Note Styling */

.note {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 40px 2fr 1fr 35px 35px;
    grid-template-areas:
    "checkbox title . edit-btn delete-btn";
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
}

/* Default Checkbox start */

.checkbox-container {
    grid-area: checkbox;
}

.checkbox-container label {
    display: flex;
}

.checkbox-container input[type='checkbox'] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.checkbox-container label::before {
    content: '';
    width: 1.3em;
    height: 1.3em;
    border: .1em solid #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
}

.checkbox-container input[type='checkbox']:checked + label::before {
    
    content: url('../images/check-mark-small.svg');
    
}

.low-pri-cb-container label::before {
    border: .1em solid var(--low-pri-border);
    background: var(--low-pri-background);
}

.medium-pri-cb-container label::before {
    border: .1em solid var(--moderate-pri-border);
    background: var(--moderate-pri-background);
}

.high-pri-cb-container label::before {
    border: .1em solid var(--high-pri-border);
    background: var(--high-pri-background);
}

.comp-pri-cb-container label::before {
    border: .1em solid var(--comp-pri-border);
    background: var(--comp-pri-background);
}

/* Default Checkbox end */


.note-title {
    grid-area: title;
}

.edit-btn-container {
    grid-area: edit-btn;
    justify-self: right;
    
}

.edit-btn-img {
    width: 20px;
    height: 20px;
    filter: invert(73%) sepia(14%) saturate(0%) hue-rotate(246deg) brightness(84%) contrast(96%);
    cursor: pointer;
}

.delete-btn-container {
    grid-area: delete-btn;
    justify-self: right;
}

.delete-btn-img {
    width: 20px;
    height: 20px;
    filter: invert(73%) sepia(14%) saturate(0%) hue-rotate(246deg) brightness(84%) contrast(96%);
    cursor: pointer;
}

/* Proj Card Styling */

.new-proj-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 750px;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--color-4);
}

.align-proj-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-proj-card-content-container {
    position: relative;
    height: 250px;
    width: 90%;
}

.new-proj-card-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #C4C4C4;
}

.proj-input-text {
    font-size: 35px;
    font-weight: bold;
}

.card-proj-name-container {
    width: 90%;
    margin: 20px auto;
}

.new-proj-card-title-input {
    margin-top: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 35px;
    outline: none;
    font-weight: bold;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
}

.input-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.new-proj-submission-btns-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 90%;
    margin: auto;
    background-color: none; /* Use green to debug */
    gap: 20px;
}

.reset-btn {
    height: 35px;
    width: 90px;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
    color: #9B9B9B;
    transition: .2s background-color, .2s color;
    cursor: pointer;
}

.submit-btn {
    height: 35px;
    width: 90px;
    background-color: #0083FF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer
}

.reset-btn:hover {
    background-color: #9B9B9B;
    color: white;
}

.reset-btn:active {
    background-color: white;
}

.proj-close {
    border-radius: 50%;
    position: relative;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    transition: .2s opacity;
}
.proj-close:before, 
.proj-close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #9B9B9B;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}
.proj-close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.proj-close:hover {
    opacity: .5;
}

.proj-close:active {
    opacity: 0;
}

.align-close-btn {
    justify-self: end;
}

.proj-tab {
    padding: 15px;
    margin: 5px;
}

.proj-align {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'text close-btn';
    align-items: center;
    margin-left: 40px;
}

.proj-tab-deco {
    grid-area: text;
    text-decoration: none;
    color: black;
}

.proj-item-close {
    grid-area: close-btn;
    justify-self: end;
    border-radius: 50%;
    position: relative;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    transition: .2s opacity;
}
.proj-item-close:before, 
.proj-item-close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #9B9B9B;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}
.proj-item-close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.proj-item-close:hover {
    opacity: .5;
}

.proj-item-close:active {
    opacity: 0;
}