@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-1: #0083FF;
    --color-2: #C4C4C4;
    --font-1: 'Roboto';
}

body {
    font-family: var(--font-1);
}

/* Nav Bar Content */

.nav-bar-container {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 20px 50px 1fr 50px 100px 20px;
    grid-template-areas:
    ". menu-btn . add-item-btn login-btn .";
    height: 60px;
    background-color: var(--color-1);
    justify-items: center;
    align-items: center;
}

.small-btn {
    height: 25px;
    width: 25px;
    /* Makes black png images white */
    filter: brightness(0) invert(1);
}

.menu-btn {
    grid-area: menu-btn;
}

.login-btn {
    grid-area: login-btn;
    padding: 8px 20px 8px 20px;
    background-color: white;
    border-radius: 5px;
    font-family: var(--font-1);
    color: var(--color-1);
}

/* Main Content Information */

.content-container {
    /* Subtracted 60 because it's the height of the nav bar*/
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "left-content-container right-content-container";
}

/* Left Content Information */

.left-content-container {
    grid-area: left-content-container;
    border-right: 2px solid var(--color-2);
}

.tabs-container {
    margin-left: 50px;
    margin-top: 50px;
}

.tab {
    margin: 25px;
}

.inbox-tab {
    font-weight: normal;
}

.today-tab {
    font-weight: bold;
}

.this-week-tab {
    font-weight: normal;
}

.projects-tab {
    font-weight: normal;
}