<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-Todo List</title>
</head>
<body>
    <div id="content"></div>
    
    <div class="nav-bar-container">

       <a href="#" class="ham-btn-container">
           <div class="ham-btn-layer"></div>
           <div class="ham-btn-layer"></div>
           <div class="ham-btn-layer"></div>
       </a>
        <a href="#" class="increment-note-btn">
            <p class="increment-note-text">+</p>
        </a>
        <button class="login-btn">Sign In</button>
    </div>
    <div class="content-container">
        <div class="left-content-container">
            <ul class="tabs-container">
                <li class="tab"><a href="#" class="inbox-tab single-tab">Inbox</p></li>
                <li class="tab"><a href="#" class="today-tab single-tab">Today</p></li>
                <li class="tab"><a href="#" class="this-week-tab single-tab">This Week</p></li>
                <li class="tab"><a href="#" class="projects-tab single-tab">Projects</p></li>
            </ul>
        </div>
        <div class="right-content-container">
            <div class="right-content-info-container">
                <p class="title">Today</p>
            </div>
            <p class="no-content-text">There's Nothing Here...</p>
        </div>
    </div>

</body>
</html>