<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-Todo List</title>
</head>
<body>
    <div class="nav-bar-container">
        <img class="small-btn menu-btn" src="../src/images/menu.png" alt="menu button">
        <div class="login-btn">
            Sign In
        </div>
    </div>

    <div class="content-container">
        <div class="left-content-container">
            <ul class="tabs-container">
                <li class="tab"><p class="inbox-tab">Inbox</p></li>
                <li class="tab"><p class="today-tab">Today</p></li>
                <li class="tab"><p class="this-week-tab">This Week</p></li>
                <li class="tab"><p class="projects-tab">Projects</p></li>
            </ul>
        </div>

        <div class="right-content-container">
            <div class="right-content-info-container">
                <p class="title">Today</p>
            </div>
            <p class="no-content-text">There's Nothing Here...</p>
        </div>
    </div>
    

</body>
</html>